/* this is a css reset - it fixes a weird box model problem */
*,
*::before,
*::after {
	box-sizing: border-box;
}
div{
	width: 9rem;
	height: 9rem;
	margin: 2rem;
	background-color: crimson;
	box-shadow: 6rem rebeccapurple;
	transition: background-color 0.4s 500ms;
}
div:hover{
	background-color: rebeccapurple;
}
#one{

	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	transition-delay: .5s;
}
#one:hover{
	width: 16rem;
	transform: rotate(180deg)
}


